main {
    width: 600px;
    height: 867px;
    background: rgb(75, 73, 73);
    margin-left: 20vw;
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grilla {
    display: grid;
    width: 550px;
    height: 817px;
   grid-template-columns: repeat(18, 1fr);
grid-template-rows: repeat(26, 1fr);
}

.black {
    display: grid;
    background: black;
    grid-column: 3/5;
    grid-row: 2/3;
}
.black-2 {
    display: grid;
    background: black;
    grid-column: 3/4;
    grid-row: 3/8;
}
.black-3 {
    display: grid;
    background: black;
    grid-column: 2/3;
    grid-row: 8/13;
}
.black-4 {
    display: grid;
    background: black;
    grid-column: 3/4;
    grid-row: 13/14;
}
.black-5 {
    display: grid;
    background: black;
    grid-column: 4/5;
    grid-row: 12/15;
}
.black-6 {
    display: grid;
    background: black;
    grid-column: 5/16;
    grid-row: 12/13;
}
.black-7 {
    display: grid;
    background: black;
    grid-column: 15/16;
    grid-row: 12/15;
}
.black-8 {
    display: grid;
    background: black;
    grid-column: 16/17;
    grid-row: 13/14;
}
.black-9 {
    display: grid;
    background: black;
    grid-column: 17/18;
    grid-row: 13/8;
}
.black-10 {
    display: grid;
    background: black;
    grid-column: 16/17;
    grid-row: 8/2;
}
.black-11 {
    display: grid;
    background: black;
    grid-column: 15/16;
    grid-row: 2/3;
}
.black-12 {
    display: grid;
    background: black;
    grid-column: 14/15;
    grid-row: 3/6;
}
.black-13 {
    display: grid;
    background: black;
    grid-column: 5/6;
    grid-row: 3/6;
}
.black-14 {
    display: grid;
    background: black;
    grid-column: 6/15;
    grid-row: 4/5;
}
.black-15 {
    display: grid;
    background: black;
    grid-column: 5/6;
    grid-row: 15/16;
}
.black-16 {
    display: grid;
    background: black;
    grid-column: 14/15;
    grid-row: 15/16;
}
.black-17 {
    display: grid;
    background: black;
    grid-column: 6/14;
    grid-row: 16/17;
}
.black-18 {
    display: grid;
    background: black;
    grid-column: 15/16;
    grid-row: 16/17;
}
.black-19 {
    display: grid;
    background: black;
    grid-column: 16/17;
    grid-row: 17/18;
}
.black-20 {
    display: grid;
    background: black;
    grid-column: 4/5;
    grid-row: 16/17;
}
.black-21 {
    display: grid;
    background: black;
    grid-column: 3/4;
    grid-row: 17/18;
}
.black-22 {
    display: grid;
    background: black;
    grid-column: 2/3;
    grid-row: 18/24;
}
.black-23 {
    display: grid;
    background: black;
    grid-column: 17/18;
    grid-row: 18/24;
}
.black-24 {
    display: grid;
    background: black;
    grid-column: 3/5;
    grid-row: 23/24;
}
.black-25 {
    display: grid;
    background: black;
    grid-column: 15/17;
    grid-row: 23/24;
}
.black-26 {
    display: grid;
    background: black;
    grid-column: 5/6;
    grid-row: 18/26;
}
.black-27 {
    display: grid;
    background: black;
    grid-column: 14/15;
    grid-row: 18/26;
}
.black-28 {
    display: grid;
    background: black;
    grid-column: 6/14;
    grid-row: 25/26;
}
.black-29 {
    display: grid;
    background: black;
    grid-column: 3/5;
    grid-row: 20/21;
}
.black-30 {
    display: grid;
    background: black;
    grid-column: 15/17;
    grid-row: 20/21;
}
.black-31 {
    display: grid;
    background: black;
    grid-column: 12/13;
    grid-row: 18/19;
}
.black-32 {
    display: grid;
    background: black;
    grid-column: 7/8;
    grid-row: 18/19;
}
.black-33 {
    display: grid;
    background: black;
    grid-column: 11/12;
    grid-row: 19/20;
}
.black-34 {
    display: grid;
    background: black;
    grid-column: 8/9;
    grid-row: 19/20;
}
.black-35 {
    display: grid;
    background: black;
    grid-column: 9/11;
    grid-row: 18/21;
}
.black-36 {
    display: grid;
    background: black;
    grid-column: 9/11;
    grid-row: 23/25;
}
.blue-1 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 3/4;
    grid-row: 8/13;
    border: 2px solid rgb(23, 23, 83);
}
.blue-2 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 16/17;
    grid-row: 8/13;
    border: 2px solid rgb(23, 23, 83);
}
.blue-3 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 4/5;
    grid-row: 3/12;
    border: 2px solid rgb(23, 23, 83);
}
.blue-4 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 15/16;
    grid-row: 3/12;
    border: 2px solid rgb(23, 23, 83);
}
.blue-5 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 5/6;
    grid-row: 6/12;
    border: 2px solid rgb(23, 23, 83);
}
.blue-6 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 14/15;
    grid-row: 6/12;
    border: 2px solid rgb(23, 23, 83);
}
.blue-7 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 6/14;
    grid-row: 5/12;
    border: 2px solid rgb(23, 23, 83);
}
.blue-8 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 3/5;
    grid-row: 19/20;
    border: 2px solid rgb(23, 23, 83);
}
.blue-9 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 15/17;
    grid-row: 19/20;
    border: 2px solid rgb(23, 23, 83);
}
.blue-10 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 3/5;
    grid-row: 21/23;
    border: 2px solid rgb(23, 23, 83);
}
.blue-11 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 15/17;
    grid-row: 21/23;
    border: 2px solid rgb(23, 23, 83);
}
.blue-12 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 6/14;
    grid-row: 22/23;
    border: 2px solid rgb(23, 23, 83);
}
.blue-13 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 6/9;
    grid-row: 24/25;
    border: 2px solid rgb(23, 23, 83);
}
.blue-14 {
    display: grid;
    background: rgb(23, 23, 83);
    grid-column: 11/14;
    grid-row: 24/25;
    border: 2px solid rgb(23, 23, 83);
}

.piel-1 {
    display: grid;
    background: #f1ccaa;
    grid-column: 5/15;
    grid-row: 13/15;
    border: 2px solid #f1ccaa;
}
.piel-2 {
    display: grid;
    background: #f1ccaa;
    grid-column: 6/14;
    grid-row: 15/16;
    border: 2px solid #f1ccaa;
}
.yellow-1 {
    display: grid;
    background: #fcf970;
    grid-column: 6/14;
    grid-row: 21/22;
    border: 2px solid #fcf970;
}
.white-1 {
    display: grid;
    background: #fcfcfa;
    grid-column: 5/9;
    grid-row: 10/11;
    border: 2px solid #fcfcfa;
}
.white-2 {
    display: grid;
    background: #fcfcfa;
    grid-column: 6/9;
    grid-row: 11/12;
    border: 2px solid #fcfcfa;
}
.white-3 {
    display: grid;
    background: #fcfcfa;
    grid-column: 11/15;
    grid-row: 10/11;
    border: 2px solid #fcfcfa;
}
.white-4 {
    display: grid;
    background: #fcfcfa;
    grid-column: 11/14;
    grid-row: 11/12;
    border: 2px solid #fcfcfa;
}